.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .gallery__nav {
    width: 1400px;
    margin: 0 auto;
  }
  .gallery__images__wrapper {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: 0 auto;
  }

}