.gallery {
  display: flex;
  flex-direction: column;
  min-height: 1200px;
  .gallery__nav {
    padding: 0 20px;
    margin:  0 auto;
    @media screen and (min-width: 1420px){
      width: 1400px;
    }

  }
  .gallery__images__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media screen and (min-width: 1420px){
      width: 1400px;
    }
  }



}