@mixin close_psE{
  top: 0;
  right: -50px;
}



.modal_contacts {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(45, 45, 45, 0.79);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .modal_data{
    width: 500px;
    padding: 20px;
    background-color: #606060;
    position: relative;
    border: 2px solid white;

    input{
      color: white;
    }
    .modal_close {
      &:before {
        @include close_psE;
        content: "";
        position: absolute;
        width: 5px;
        height: 50px;
        transform: rotate(45deg);
        background-color: #ffffff;
      }

      &:after {
        @include close_psE;
        content: "";
        position: absolute;
        width: 5px;
        height: 50px;
        transform: rotate(-45deg);
        background-color: #ffffff;
      }

      &:hover {
        cursor: pointer;
      }

    }
  }


}