.orders {
  display: grid;
  grid-template-areas: 'a b c';
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  padding: 0 30px;
  align-items: center;
  justify-items: start;

  span{
    font-weight: bold;
    font-size: 22px;
  }

  .phone {
    grid-area: a;
  }


  .email {
    grid-area: b;
  }

  .comment{
    grid-area: c;
  }

}