.galleryVelvet{
  display: flex;
  margin: 35px 0;
  //img{
  //  width: 339px;
  //  height: 469px;
  //}
  .info{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  img{
    cursor: pointer;
  }
}