@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
//@import url('public');

@mixin font {
  font-family: 'Poiret One', cursive;
  font-weight: 600;
}


.general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: rgb(239, 240, 241);
  background: linear-gradient(0deg,
          rgba(239, 240, 241, 1) 69%,
          rgba(255, 255, 255, 1) 100%,
          rgba(255, 255, 255, 1) 5%,
          rgba(239, 240, 241, 1) 100%
  );

  .welcome__images {
    @media screen and (max-width: 650px) {
      // MOBILE
      display: flex;
      flex-direction: column;
      align-items: center;
      //width: 100%;

      overflow-y: hidden;
      .dzenstyle {
        display: flex;
        color: #c3363a;
        flex-direction: column;
        font-size: 70px;
        @include font;
      }
      .imagesP {
        width: 100%;
        height: 100%;
      }
    }


    @media screen and (min-width: 650px) {
      // DESKTOP
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      //width: 100vw;

      @media screen and (max-width: 650px) {
        margin: 250px 0 150px 0;
      }

      @media screen and (max-width: 850px) {
        margin: 200px 0 150px 0;
      }

      @media screen and (min-width: 850px) {
        margin: 200px 0 150px 0;
      }

      .dzenstyle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #c3363a;
        @include font;
        @media screen and (min-width: 650px){
          font-size: 40px;
        }
        @media screen and (min-width: 850px){
          font-size: 55px;
        }
        @media screen and (min-width: 1200px){
          font-size: 100px;
        }
        //@media screen and (min-width: 850px){
        //  font-size: 100px;
        //}
        //@media screen and (min-width: 850px){
        //  font-size: 100px;
        //}

      }

      .imagesP {
        @media screen and (min-width: 650px){
          width: 35%;
          height: 35%;
        }

        @media screen and (min-width: 1200px){
          width: 30%;
          height: 30%;
        }
      }
    }
  }

  .painter__data {
    @media screen and (max-width: 650px) {
      // MOBILE
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .painter__data__photoandname {
        .image {
          width: 100%;
        }

        .hud {
          display: none;
        }

        &:before {
          content: "Художник - Р.Х. Абдульмянов";
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 10px 0;
          color: #c3363a;
          @include font;
          font-size: 25px;
        }
      }
      .description{
        @include font;
        text-align: justify;
        padding: 15px;
        font-size: 18px;
        margin: 40px auto;
      }
    }
    @media screen and (min-width: 650px){
      width: 100%;
      .painter__data__photoandname {
        .painterImage__wrapper{
          background-color: #c3363a;
          .image {
            display: flex;
            width: 50%;
            margin: 0 auto;

          }
        }
        .hud {
          display: none;
        }

        &:before {
          content: "";

        }

        &:after {
          content: "Художник - Р.Х. Абдульмянов";
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          padding: 10px 0;
          color: #c3363a;
          @include font;
          font-size: 25px;
        }
      }

      .description{
        //@include font;
        text-align: justify;
        padding: 15px;
        font-size: 18px;
        margin: 0 auto 50px;


        @media screen and (min-width: 1400px){
          width: 1400px;
          margin: 0 auto 50px;

        }


      }

    }
    @media screen and (min-width: 850px){
      .painter__data__photoandname {
        .painterImage__wrapper{
          background-color: #c3363a;
          .image {
            display: flex;
            width: 35%;
            margin: 0 auto;
          }
        }

        .hud {
          display: none;
        }

        //&:before {
        //  content: "Художник - Р.Х. Абдульмянов";
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
        //  text-align: center;
        //  padding: 10px 0;
        //  color: #c3363a;
        //  @include font;
        //  font-size: 25px;
        //}
      }
    }
    @media screen and (min-width: 1200px){
      .painter__data__photoandname {
        .painterImage__wrapper{
          .image {
            width: 500px;
          }
        }
      }
    }
  }

}

//.general{
//  display: flex;
//  flex-direction: column;
//  margin: 150px auto 0;
//  width: 100vw;
//
//  .welcome__image{
//    background: rgb(239,240,241);
//    background: linear-gradient(0deg,
//            rgba(239,240,241,1) 69%,
//            rgba(255,255,255,1) 100%);
//    position: relative;
//    padding-bottom: 100px;
//
//
//    @media screen and (max-height: 1100px){
//      height: calc(100vh - 150px);
//    }
//
//    display: flex;
//    gap: 40px;
//    align-items: center;
//    justify-content: center;
//    .dzenstyle{
//      display: flex;
//      flex-direction: column;
//      align-items: center;
//      @include font;
//      font-size: 100px;
//      color: #c3363a;
//      .hud{
//        font-size: 20px;
//      }
//    }
//    .images{
//      width: 550px;
//
//      @media screen and (max-width: 1400px){
//        width: 450px;
//      }
//
//    }
//  }
//
//  .main__wrapper{
//    background: rgb(239,240,241);
//    background: linear-gradient(0deg,
//            rgba(255,255,255,1) 5%,
//            rgba(239,240,241,1) 100%);
//    //padding: 50px 0;
//    width: 100vw;
//
//    .container{
//      width: 1400px;
//      margin: 0 auto;
//      .main{
//        box-sizing: border-box;
//        display: flex;
//        //width: 100%;
//        gap: 25px;
//
//        .painter__data{
//          display: flex;
//          flex-direction: column;
//          .hud{
//            @include font;
//            color: #c3363a;
//            font-size: 20px;
//            align-self: end;
//          }
//          .image{
//            width: 400px;
//          }
//        }
//
//
//
//        .description{
//          text-align: justify;
//          @include font;
//          font-size: 20px;
//
//          p{
//            padding: 10px 0;
//          }
//        }
//      }
//    }
//  }
//}