@mixin close_psE{
  content: "";
  position: absolute;
  width: 5px;
  height: 50px;
  right: 17px;
  top: -4px;
  background-color: #ffffff;
}

.modal {
  //text-align: center;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(45, 45, 45, 0.79);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;

  .modal_content_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid rgba(104, 104, 104, 0.51);
    border-radius: 15px;
    @media screen and (min-width: 550px){
      min-width: 500px;
      max-width: 550px;
    }
    @media screen and (min-height: 1080px){
      max-width: 642px;
    }



    .modal_image{
      width: 100%;
    }

    .close{
       display: none;
       @media screen and (min-width: 800px){
         display: block;
       }
       position: absolute;

       top: 0;
       right: -80px;
       width: 40px;
       height: 40px;

       &:before{
         @include close_psE;
         transform: rotate(45deg);
       }
       &:after{
         @include close_psE;
         transform: rotate(-45deg);
       }
       &:hover{
         cursor: pointer;
       }
     }
  }
}

.imageWrapper{
  width: 500px;

  @media screen and (max-width: 650px){
    width: 100%;
  }

  img{
    width: 100%;
    object-fit: cover;
  }
}