@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


a{
  color: #c3363a;
  &:hover{
    color: black;
  }
}

@mixin font{
  font-family: 'Poiret One', cursive;
  font-weight: 600;
}

@mixin center{
  margin: 100px auto;
}

$grid-border: 0px solid black;

.footer{
  //background-color: greenyellow;
  @include font;
  @media screen and (max-width: 400px) {
    display: none;
  }
  font-size: 18px;
  background: rgb(239, 240, 241);
  background: linear-gradient(0deg,
          rgba(239,240,241,1) 5%,
          rgba(255,255,255,1) 100%);

  .footer__data__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 1400px;
    margin: 0 auto;

    @media screen and (max-width: 1400px){
      //width: 100vw;
    }

    ul{
      list-style-type: none;
    }

    ul li{
      text-align: left;
    }

    .privacy{
      border: $grid-border;
      @include center;
    }

    .info{
      border: $grid-border;
      @include center;
    }

    .gallery{
      border: $grid-border;
      @include center;
    }

    .dzenStyle{
      border: $grid-border;
      @include center;
    }
  }
  .git{
    background-color: rgb(219, 219, 220);
    height: 100%;
    padding: 15px 0 0 0;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial,sans-serif;
  }
}