@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@media screen and (max-width: 650px) {
  .header {
    display: none; } }
@media screen and (min-width: 650px) {
  .header {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(10px);
    z-index: 1000;
    top: 0;
    padding: 10px 0;
    width: 100%;
    position: fixed; }
    .header img {
      position: absolute; } }
    @media screen and (min-width: 650px) and (max-width: 1000px) {
      .header img {
        display: none; } }
    @media screen and (min-width: 650px) and (min-width: 1000px) {
      .header img {
        left: -70px;
        width: 40px; } }
@media screen and (min-width: 650px) {
    .header .container {
      position: relative;
      margin: 10px auto;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between; } }
    @media screen and (min-width: 650px) and (max-width: 850px) {
      .header .container .links {
        margin-right: 30px; } }
    @media screen and (min-width: 650px) and (min-width: 850px) {
      .header .container .links {
        margin-right: 70px; } }
    @media screen and (min-width: 650px) and (min-width: 1200px) {
      .header .container .links {
        margin-right: 100px; } }
@media screen and (min-width: 650px) {
      .header .container .links nav {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none; }
      .header .container .links .active {
        color: #c3363a;
        border-bottom: 2px solid #c3363a; }
      .header .container .links a {
        text-decoration: none;
        margin-right: 20px;
        color: black; }
        .header .container .links a:hover {
          color: #c3363a;
          transition: color 200ms ease;
          transition: border 70ms; }
        .header .container .links a:active {
          color: #000000; }
      .header .container .contacts {
        display: flex;
        align-items: center; } }
      @media screen and (min-width: 650px) and (max-width: 850px) {
        .header .container .contacts span {
          display: none; } }
@media screen and (min-width: 650px) {
        .header .container .contacts .messengers {
          margin: 20px 20px; }
          .header .container .contacts .messengers a {
            color: black;
            text-decoration: none; }
            .header .container .contacts .messengers a:hover {
              color: #c3363a;
              transition: 200ms ease; }
        .header .container .contacts button {
          height: 40px;
          width: 140px;
          color: black;
          border-radius: 10px;
          font-family: 'Poiret One', cursive;
          font-weight: 600;
          font-size: 18px;
          background-color: #ffffff;
          border: 3.5px solid black; }
          .header .container .contacts button:active {
            background-color: rgba(199, 199, 199, 0.35); }
          .header .container .contacts button:hover {
            cursor: pointer;
            border: 3.5px solid #c3363a;
            color: #c3363a;
            transition: 200ms ease; } }
@media screen and (max-width: 850px) {
  .header {
    height: 180px; } }
@media screen and (min-width: 850px) {
  .header {
    height: 150px; } }
@media screen and (min-width: 1200px) {
  .header {
    font-size: 28px; } }

/*# sourceMappingURL=Header.module.css.map */
