@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


$primary-color: rgba(255, 255, 255, 0.92);


.header {


  @media screen and (max-width: 650px) {
    display: none;
  }
  @media screen and (min-width: 650px) {
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    background-color: $primary-color;
    backdrop-filter: blur(10px);
    z-index: 1000;
    top: 0;
    padding: 10px 0;
    width: 100%;
    position: fixed;

    img {
      position: absolute;
      @media screen and (max-width: 1000px) {
        display: none;
      }

      @media screen and (min-width: 1000px) {
        left: -70px;
        width: 40px;
      }

    }

    .container {
      position: relative;
      margin: 10px auto;
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;


      .links{

        @media screen and (max-width: 850px) {
          margin-right: 30px;
        }
        @media screen and (min-width: 850px) {
          margin-right: 70px;
        }
        @media screen and (min-width: 1200px) {
          margin-right: 100px;
        }


        nav{
          background-color: rgba(0, 0, 0, 0);
          box-shadow: none;

        }
        .active {
          color: #c3363a;
          border-bottom: 2px solid #c3363a;
        }
      }

      .links a {
        text-decoration: none;
        margin-right: 20px;
        color: black;

        &:hover {
          color: #c3363a;
          transition: color 200ms ease;
          transition: border 70ms;
        }

        &:active {
          color: #000000;
        }
      }

      .contacts {
        display: flex;
        align-items: center;
        @media screen and (max-width: 850px) {
          span{
            display: none;
          }
        }


        .messengers {
          margin: 20px 20px;

          a {
            color: black;
            text-decoration: none;


            &:hover {
              color: #c3363a;
              transition: 200ms ease;
            }
          }
        }

        button {
          height: 40px;
          width: 140px;
          color: black;
          border-radius: 10px;
          font-family: 'Poiret One', cursive;
          font-weight: 600;
          font-size: 18px;
          background-color: #ffffff;
          border: 3.5px solid black;

          &:active {
            background-color: rgba(199, 199, 199, 0.35);
          }

          &:hover {
            cursor: pointer;
            border: 3.5px solid #c3363a;
            color: #c3363a;
            transition: 200ms ease;
          }
        }

      }

    }
  }

  @media screen and (max-width: 850px) {
    height: 180px;
  }
  @media screen and (min-width: 850px) {
    height: 150px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 28px;
  }





}