.nav-ul-li-span{
    margin-left: 20px;
    cursor: pointer;
}



.card-wrapper{
    display: flex;
    justify-content: center;
    padding: 0 5.5%;
}

.card-wrapper-center{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 220px;
    margin: 10px;
}

.text{
    color: white;
    font-size: 12px;
    font-weight: 800;
}

.card-action{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.card-action span{
    color: black;
    border: 2px solid black;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}
.card-action span:hover{
    border: 2px solid #ec6d73;
    color: #ec6d73;

}

.input{
    width: 320px;
}

.add-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-card-form{
    width: 500px;
}

/*.add-card-form button{*/
/*    background-color: #ff69b4;*/
/*}*/
/*.add-card-form input[type=file]{*/
/*    background-color: #ff69b4;*/
/*}*/
/*.add-card-form input[type=file]{*/
/*    background-color: #ff69b4;*/
/*}*/

